<div class="container" style="margin-top: 40px ;">
  <div class="row">
    <div class="text-center mt-3 mb-5">
      <h1 style="font-size: 70px;margin-bottom: 40px;">Esto es un reto!</h1>
      <h1 style="color: rgb(73, 73, 73);">Analiza los temas</h1>
    </div>

    <div class="col-lg-6 col-12 text-center" >
      <a href="/stackoverflow">
        <img style="height: 300px;border-radius: 200px;background-color: #654982 ;
        margin-bottom: 30px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Stack_Overflow_icon.svg/768px-Stack_Overflow_icon.svg.png" alt="">
        <h1 style="color: rgb(73, 73, 73);">StackOverflow</h1>
      </a>

    </div>
    <div class="col-lg-6 col-12 text-center" >
      <a href="/vuelos" >
        <img style="height: 300px; border-radius: 200px;background-color:#c9b5e1;
        margin-bottom: 30px;" src="https://www.freeiconspng.com/thumbs/airplane-icon-png/airplane-icon---item-2--vector-magz--free-download-vector-graphics-4.png" alt="">
        <h1 style="color: rgb(73, 73, 73);">Vuelos</h1>
      </a>

    </div>
  </div>
</div>

