
<!-- Remove the container if you want to extend the Footer to full width. -->

  <footer class="text-center text-white" style="background-color: #7e57c2">

    <div class="container">

      <section class="mt-5">

        <div class="row text-center d-flex justify-content-center pt-5">

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="https://www.instagram.com/neorwell/" class="text-white">Acerca de Mi</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="" class="text-white">Home</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="https://www.linkedin.com/in/luis-angel-perez-monreal-0a5347130/" class="text-white">Contacto</a>
            </h6>
          </div>

        </div>

      </section>


      <hr class="my-3" />

      <section class="mb-3">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p style="color: #ffff;">
              Reto de programacion fullstack, en esta pagina web se muestran los datos
              de respuesta de APIs creadas en Java con Spring-Boot y una base de datos en MySQL.
            </p>
          </div>
        </div>
      </section>

      <section class="text-center mb-5">
        <a class="text-white me-4" href="https://www.instagram.com/neorwell/">
          <fa-icon [icon]="faInstagram" size="3x"></fa-icon>
        </a>
        <a class="text-white me-4" href="https://github.com/Luis9926">
          <fa-icon [icon]="faGithub" size="3x"></fa-icon>
        </a>
        <a class="text-white me-4" href="https://www.linkedin.com/in/luis-angel-perez-monreal-0a5347130/">
          <fa-icon [icon]="faLinkedin" size="3x"></fa-icon>
        </a>
      </section>

    </div>

    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      @2022:
      <a class="text-white" href="https://github.com/Luis9926"
         > Luis Monreal</a
        >
    </div>

  </footer>

