
<nav class="navbar navbar-expand-lg navbar-dark p-3" style="background-color:#7e57c2 ;" id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" href="#">
      <img src="https://d11xs3c24na545.cloudfront.net/assets/img/pop_upxalvy.png" height="80" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="#" style="font-size:20px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/stackoverflow" style="font-size:20px;">StackOverflow</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link mx-2" href="#">
            <img src="https://d11xs3c24na545.cloudfront.net/assets/img/pop_upxalvy.png" height="120" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/vuelos" style="font-size:20px;">Vuelos</a>
        </li>
        <li class="nav-item dropdown">
          <a style="font-size:20px;" class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contacto
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="https://github.com/Luis9926">GitHub</a></li>
            <li><a class="dropdown-item" href="https://www.instagram.com/neorwell/">Acerca de mi</a></li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/luis-angel-perez-monreal-0a5347130/">Contactame</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


